:8080 {

	@api {
		path /api/*
	}

	@openapi {
		path /api/openapi
	}

	reverse_proxy @api {
		to localhost:3000
	}

	route @openapi {
		rewrite @openapi /customer.yaml
		root ./examples/customer
		file_server 
	}

	route @api {
		openapi {
			spec ./customer.yaml
			policy_bundle ../policy/bundle.tar.gz
			check {
				req_body
				resp_body
			}
			log_error
		}
	}

	handle_errors {
		respond @api "Resource: {http.request.orig_uri}. Error: {openapi.error}" {openapi.status_code} {
			close
		}
	}
}
